@tailwind base;
@tailwind components;
@tailwind utilities;

@variants hover {
    .translate-r-2px {
        transform: translateX(2px) !important
    }

    .translate-r-4px {
        transform: translateX(4px) !important
    }
}

@screen print {
    .all-unset {
        all: unset;
    }

    .print-only {
        display: block !important;
        margin: 0 10px;
    }
}


.transition-fast {
    transition: all .2s ease !important;
}

/* $--all-transition: all .3s cubic-bezier(.645, .045, .355, 1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--border-transition-base: border-color .2s cubic-bezier(.645, .045, .355, 1) !default;
$--color-transition-base: color .2s cubic-bezier(.645, .045, .355, 1) !default; */


.box-shadow-base: {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
}

.box-shadow-dark: {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
}

.box-shadow-light: {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;
}

/* 
//----วิธีใช้-----------------------------
@variants focus,responsive,hover {  }  // use focus response hove ...
@responvive {} //respoivice only
@focus {} //focus only
@hover {} //hover only
@screen print //breakpoint 


@variants focus,
responsive,
hover {
    .rotate-0 {
        transform: rotate(0deg);
    }

    .rotate-90 {
        transform: rotate(90deg);
    }
} */